In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("train.csv")

print(df.head())
print(df.columns)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Choosing of features

In [3]:
print(df['Pclass'].unique())
print(df['SibSp'].unique())
print(df['Parch'].unique())
# print(df['Ticket'].unique())
# print(df['Cabin'].unique())
print(df['Embarked'].unique())

[3 1 2]
[1 0 3 4 2 5 8]
[0 1 2 5 3 4 6]
['S' 'C' 'Q' nan]

In [8]:
print(df['Embarked'].value_counts())
print(df.isna().sum())

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [5]:
df.drop(['Ticket', 'Cabin', 'Name'], axis = 1, inplace = True)

end = OneHotEncoder()
gender_col = pd.DataFrame(end.fit_transform(df[['Sex']]))

print(gender_col)

                 0
0      (0, 1)\t1.0
1      (0, 0)\t1.0
2      (0, 0)\t1.0
3      (0, 0)\t1.0
4      (0, 1)\t1.0
..             ...
886    (0, 1)\t1.0
887    (0, 0)\t1.0
888    (0, 0)\t1.0
889    (0, 1)\t1.0
890    (0, 1)\t1.0

[891 rows x 1 columns]

In [6]:
sns.corrplot()
sns.heatmap(df.corr())
plt.show()

AttributeError: module 'seaborn' has no attribute 'corrplot'